/* Position of the calculator */
.calculator-container {
  margin-top: 15px;
  width: inherit;
}

.calculator-input {
  padding: 0px 10px;
  text-align: right;
  font-weight: bolder;
}

.calculator-result {
  resize: none;
  margin-top: 12px;
  padding: 0px 10px;
  text-align: right;
  height: 40vh;
  overflow: auto;
}
